.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #050505;
  height: 80px;
  margin-top: 2rem;
  color: #ffffff;
}
.footer span {
  font-weight: bold;
}
