.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  margin-bottom: 2rem;
  background-color: #050505;
  color: #ffff;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  margin-left: 0.5rem;
}
.logo h1 a {
  text-decoration: none;
  color: #fff;
}
.navbarItens {
  display: flex;
  list-style: none;
}
.navbarItens li {
  margin-right: 1.3rem;
}
.navbarItens a {
  color: #ffff;
  text-decoration: none;
  padding: 5px;
  transition: 0.4s;
  border-bottom: 3px solid transparent;
}
.navbarItens a:hover {
  border-bottom: 3px solid #fff;
}
